<div class="todo-card">
  <h2 class="text-dark">Lista zadań</h2>

  <div class="input-group mb-3">
    <input type="text" [(ngModel)]="newTask" placeholder="Nowe zadanie..." class="form-control me-2">
    <button class="btn btn-warning" type="submit" (click)="addTask()">Dodaj</button>
  </div>

  <ul class="list-group">
    <li *ngFor="let task of tasks; let i = index" class="list-group-item">
      <div *ngIf="!task.editing" class="task-row d-flex justify-content-between align-items-center">
        <div class="task-left d-flex align-items-center">
          <input class="form-check-input beige-checkbox me-2" type="checkbox">
          <span>{{ task.title }}</span>
        </div>
        <div class="task-actions">
          <button class="btn btn-sm btn-warning me-1" (click)="editTask(i)">Edytuj</button>
          <button class="btn btn-sm btn-outline-warning" (click)="deleteTask(i)">Usuń</button>
        </div>
      </div>

      <div *ngIf="task.editing" class="task-edit d-flex align-items-center">
        <input [(ngModel)]="task.title" class="form-control edit-input me-2">
        <button class="btn btn-sm btn-warning" (click)="saveTask(i)">Zapisz</button>
      </div>
    </li>
  </ul>
</div>
